// Container for all
.popup-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    align-items: flex-start;
    bottom: 1.5%;
    right: 1%;
    width: 470px;
    z-index: 1000;
}

// Each notification item
.popup-component {
    padding: 2rem;
    animation: slideIn 0.3s ease-out;

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(28px);

    .popup-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        @include h5;
        color: $white;

        .popup-title__heading {
            font-size: 16px;
            font-weight: 500;
            font: var(--fm-1);
        }

        .popup-title__close {
            background: none;
            border: none;
            font-size: 24px;
            color: #222;
            cursor: pointer;
            padding: 0;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: color 0.2s ease;

            &:hover {
                color: #000;
            }
        }
    }

    // Content styling inside a notification
    .popup-content {
        margin-bottom: 21px;

        .popup-content__text {
            @include b-r;
            color: rgba(255, 255, 255, 0.50);

            .popup-content__text-link {
                color: $white;
            }
        }
    }

    // Actions (buttons) styling inside a notification
    .popup-action {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;

        .popup-action__button {
            border-radius: 36px;
            border: 1px solid var(--neutrals-7, #E6E6E6);
            background: rgba(255, 255, 255, 0.80);
        }
    }
}

// Animation for notifications appearing
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 540px) {
    .popup-container {
        width: 98%;
    }
}