.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 24px;
  
  > div {
    cursor: pointer;
    transition: transform 0.2s ease;
    
    &:hover {
      transform: translateY(-2px);
    }
  }

  .filter-icon-btn {
    @include flex-center;
    padding: 1rem 1.5rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: $white;
    cursor: pointer;
  
    &.selected {
        background: $gradient-primary;
  
        .filter-icon-text {
            color: $white;
        }
    }
  
    .filter-icon-text {
        @include b-l;
        color: $black;
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .filter-bar {
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    margin-left: unset;
    margin-right: unset;
    width: calc(100% + 100px);
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    
    > div {
      flex: 0 0 auto;
    }
  }
  
  .filter-icon-btn {
    padding: 1rem 1.5rem;
    white-space: nowrap;
    min-height: 50px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .filter-bar {
    gap: 8px;
    margin-right: unset;
    margin-left: unset;
    width: calc(100% + 30px); /* Ensure full width accounting for negative margins */
  }
  
  .filter-icon-btn {
    padding: 1rem 1.5rem;
    min-height: 50px;
    
    .filter-icon-text {
      @include b-s;
    }
  }
}