.benefits {
  &__learning-and-dev {
    height: 51.97%;
    @include benefits-card-base;
    @include flex-col(center, center);
    gap: 12px;
    align-self: stretch;

    @include benefits-card-text;

    &__header {
      text-align: center;
    }

    &__content {
      text-align: center;
    }

    &__image {
      width: 372px;
      height: 221px;
    }
  }

  &__events-and-meetups {
    @include benefits-card-base;
    height: 38.58%;
    @include flex-col(flex-start, flex-end);
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;

    @include benefits-card-text;

    &__image {
      width: 100%;
      height: 100%;
    }

    &__header {
      text-align: center;
      align-self: stretch;
    }

    &__content {
      text-align: center;
    }
  }

  &__work-and-impact {
    width: 33.45%;
    @include benefits-card-base;
    padding: 20px;
    @include flex-col(flex-start, flex-end);
    align-self: stretch;
    gap: 8px;

    @include benefits-card-text;

    &__content {
      @include flex-column;
      gap: 12px;
      align-items: flex-start;
      align-self: stretch;
    }
  }

  &__opportunities {
    width: 57.19%;
    @include benefits-card-base;
    @include flex-col(flex-start, flex-start);
    gap: 16px;
    align-self: stretch;

    @include benefits-card-text;

    &__lottie {
      width: 104%;
      height: 205px;
      transform: translateY(-10%);
      overflow: hidden;
    }

    &__title {
      @include h5;
    }
  }

  &__payments {
    @include benefits-card-base;
    @include flex-col(flex-start, flex-end);
    gap: 8px;
    align-self: stretch;
    position: relative;
    width: 65%;

    @include benefits-card-text;

    &__lottie {
      transform: translateY(35%);
    }
  }

  &__community {
    width: 41.27%;
    @include benefits-card-base;
    @include flex-col(flex-start, flex-end);
    gap: 16px;
    align-self: stretch;

    @include benefits-card-text;

    &__image {
      width: 100%;
      height: 90%;
      transform: translateY(20%);
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .benefits {
    &__learning-and-dev {
      height: 220px;
      width: 48.84%;
      max-width: 48.84%;
      @include benefits-card-mobile-base;
      @include flex-col(center, center);
      gap: 12px;
      align-self: stretch;

      @include benefits-card-mobile-text;

      &__header {
        @include h5;
      }

      &__image {
        width: 120%;
      }
    }

    &__events-and-meetups {
      height: 220px;
      width: 48.84%;
      @include benefits-card-mobile-base;
      @include flex-col(flex-start, flex-end);
      gap: 12px;
      flex: 1 0 0;
      align-self: stretch;

      @include benefits-card-mobile-text;

      &__header {
        @include h5;
      }


    }

    &__work-and-impact {
      display: flex;
      width: 137px;
      height: 183px;
      padding: 16.38px 12.285px;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      &__content{
        @include flex-column;
        height: 151.513px;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        align-self: stretch;
      }


      &__header {
        @include h5;
      }

      &__image {
        width: 27%;
      }

      &__text{
        font-size: 0.75rem !important;
        text-align: center;
      }
    }

    &__payments {
      height: 183px;
      width: 57.97%;
      @include benefits-card-base;
      @include flex-col(flex-start, flex-end);
      gap: 8px;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 16.38px;
      border: 1.024px solid rgba(0, 0, 0, 0.12);

      &__lottie {
        width: 100%;
        transform: translateY(2rem);
      }

      @include benefits-card-mobile-text;

      &__header {
        @include h5;
      }
    }

    &__opportunities {
      height: 188px;
      width: 48.84%;
      @include benefits-card-mobile-base;
      @include flex-column;
      align-items: center;
      gap: 0.75rem;
      align-self: stretch;

      padding: 16.38px 12.285px;
      @include benefits-card-mobile-text;
      
      &__title {
        font-size: 1rem !important;
      }

    }

    &__community {
      height: 188px;
      width: 48.84%;
      @include benefits-card-mobile-base;
      @include flex-column;
      align-items: center;
      gap: 0.75rem;
      align-self: stretch;
      flex: 1 0 0;

      @include benefits-card-mobile-text;

      &__header {
        @include h5;
      }

      &__image {
        height: 68%;
        transform: translateY(30%);
      }
    }
  }
}
