.learning-and-dev-wrapper {
    height: 330px;
    padding: 2rem;
    @include flex-col(center, center);
    gap: 12px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255, 0.70);
    
    .learning-and-dev-header {
        @include h5;
        text-align: center;
    }

    .learning-and-dev-content {
        @include b-m-r;
        text-align: center;
    }

    .learning-and-dev-image{
        width: 372px;
        height: 221px;
    }
}

.events-and-meetups-wrapper{
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255, 0.70);

    .events-and-meetups-header {
        @include h5;
        text-align: center
    }

    .events-and-meetups-content {
        @include b-r;
        text-align: center;
    }
}

.work-and-impact-wrapper {
    display: flex;
    width: 294px;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255, 0.70);

    .work-and-impact-header {
        @include h5;
    }

   .work-and-impact-text {
        @include b-r;
    }
}


.opportunities-card-wrapper {
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255, 0.70);

    .opportunities-card-title{
        @include h5;
    }
   .opportunities-card-text {
        @include b-r;
    }

    .opportunities-card-lottie{
        width: 55%;
        height: 80%;
    }
}

.payments-wrapper {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255, 0.70);

    .payments-lottie {
        width: 100%;
        margin-bottom: 10px;
        transform: translateY(4rem);
    }

    .payments-header{
        @include h5;
    }

    .payments-text {
        @include b-r;
    }
}

.community-wrapper {
    display: flex;
    width: 350px;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255, 0.70);

    .community-header {
        @include h5;
    }
   .community-text {
        @include b-r;
    }
}


@media screen and (max-width: $breakpoint-sm) {
    .learning-and-dev-wrapper {
        height: 220px;
        padding: 2rem;
        @include flex-col(center, center);
        gap: 12px;
        align-self: stretch;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background: rgba(255, 255, 255, 0.70);
        
        .learning-and-dev-header {
            @include h5;
            text-align: center;
        }
    
        .learning-and-dev-content {
            @include b-m-r;
            text-align: center;
        }
    
        .learning-and-dev-image{
            width: 372px;
            height: 221px;
        }
    }
    
    .events-and-meetups-wrapper{
        height: 220px;
        display: flex;
        padding: 24px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 12px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background: rgba(255, 255, 255, 0.70);
    
        .events-and-meetups-header {
            @include h5;
            text-align: center
        }
    
        .events-and-meetups-content {
            @include b-r;
            text-align: center;
        }
    }
    
    .work-and-impact-wrapper {
        height: 183px;
        display: flex;
        width: 139px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    
        .work-and-impact-header {
            @include h5;
        }
    
       .work-and-impact-text {
            @include b-r;
        }
    }
    
    
    .opportunities-card-wrapper {
        display: flex;
        height: 188px;
        width: 100%;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background: rgba(255, 255, 255, 0.70);
    
        .opportunities-card-title{
            @include h5;
        }
       .opportunities-card-text {
            @include b-r;
        }
    }
    
    .payments-wrapper {
        height: 183px;
        display: flex;
        padding: 24px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background: rgba(255, 255, 255, 0.70);
    
        .payments-lottie {
            width: 100%;
            margin-bottom: 10px;
            transform: translateY(4rem);
        }
    
        .payments-header{
            @include h5;
        }
    
        .payments-text {
            @include b-r;
        }
    }
    
    .community-wrapper {
        display: flex;
        height: 188px;
        width: 350px;
        padding: 24px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background: rgba(255, 255, 255, 0.70);
    
        .community-header {
            @include h5;
        }
       .community-text {
            @include b-r;
        }
    }    
}