.campus-partners-how-it-works {
  background: $grey;
  overflow: hidden;
}

.campus-partners {
  @include flex-col(center, center);
  padding: 3.75rem 0;
  gap: 2.5rem;
  height: auto;
  overflow: hidden;
  width: 100%;

  &__header {
    @include h4;
  }

  &__content {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 -5rem;
    width: calc(100% + 10rem);
  }

  // Marquee container and animation
  .marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 1rem 0;

    &.reverse {
      margin-top: 0.5rem;
    }
  }

  .marquee {
    display: flex;
    width: max-content;
    animation: marquee 60s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    &-reverse {
      animation: marquee-reverse 70s linear infinite;
    }
  }

  .marquee-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    transition: transform 0.3s ease;
    height: 80px;
    overflow: visible;

    &:hover {
      transform: scale(1.1);
      z-index: 2;
    }

    img {
      object-fit: contain;
      max-height: 75px;
      opacity: 0.9;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.how-it-works {
  &__wrapper {
    background: $grey;
    padding: 4.375rem 0 4.375rem 5rem;
    display: flex;
    align-items: flex-start;
    gap: 3rem;
  }

  &__cards-container {
    margin-top: 5.5rem;
  }

  &__content {
    @include flex-col(flex-start, space-between);
    position: relative;
    height: 658px;

    --indicator-top: 19rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 17rem;
      border-radius: 2px;
      background: #d9d9d9;
      width: 4px;
      height: 370px;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 17rem;
      border-radius: 2px;
      background: linear-gradient(180deg, #b247ff 0%, #2218e1 152.78%);
      width: 4px;
      height: 80px;
      z-index: 2;
      opacity: 0;
      transition:
        top 0.4s ease,
        opacity 0.3s ease;
    }

    &.has-active-item::after {
      opacity: 1;
      top: var(--indicator-top);
    }

    .how-it-works__header {
      @include h2;
    }

    .how-it-works__description {
      @include b-l-r;
      padding-bottom: 2rem;
    }
  }

  &__lottie {
    width: 1000px;
    height: 659px;
    flex-shrink: 0;
  }

  &__card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 3.625rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;

    &-active-indicator {
      display: none;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-left: calc(1rem + 4px);
    }

    &-header {
      color: #808080;
      @include b-l-r;
      transition: color 0.3s ease;
    }

    &-subheader {
      display: none;
      color: #000;
      @include b-r;
      transition: all 0.3s ease;
      max-height: 0;
      overflow: hidden;
    }

    &.hovered:not(.active) {
      .how-it-works__card-header {
        color: #000;
      }
    }

    &.active {
      .how-it-works__card-header {
        color: #000;
        @include h5;
      }

      .how-it-works__card-subheader {
        display: block;
        max-height: 200px;
      }
    }
  }
}

/* Tablet view (breakpoint-lg) */
@media screen and (max-width: $breakpoint-lg) {
  .campus-partners-how-it-works {
    padding: 4rem 0;
  }

  .campus-partners {
    padding: 2.5rem 0;
    height: auto;

    &__content {
      gap: 1.75rem;
      margin: 0 -2rem;
      width: calc(100% + 4rem);
    }

    .marquee {
      animation: marquee 55s linear infinite;

      &-reverse {
        animation: marquee-reverse 65s linear infinite;
      }
    }

    .marquee-container {
      padding: 0.75rem 0;
    }

    .marquee-item {
      padding: 0 1.5rem;
      height: 70px;

      img {
        max-height: 50px;
        width: auto;
      }
    }
  }

  .how-it-works {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      align-self: stretch;
      gap: 2rem;
      padding: 3.75rem;
    }

    &__content {
      height: auto;
      gap: 0.75rem;
      padding-bottom: unset;
      &::before,
      &::after {
        display: none;
      }

      .how-it-works__description {
        @include b-l-r;
        padding-bottom: 0;
      }
    }

    &__header {
      text-align: center;
      width: 100%;
      display: flex;
    }

    &__button-container-tablet {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: 1rem;
    }

    &__lottie {
      order: 2;
      width: 100%;
      overflow: hidden;
      border-radius: 8px;
    }

    &__cards-container {
      order: 3;
      margin-top: 2rem;
      width: 100%;
      position: relative;
      --tablet-indicator-top: 0rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2px;
        background: #d9d9d9;
        width: 4px;
        height: 87%;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: var(--tablet-indicator-top);
        border-radius: 2px;
        background: linear-gradient(180deg, #b247ff 0%, #2218e1 152.78%);
        width: 4px;
        height: 80px;
        z-index: 2;
        opacity: 1;
        transition: top 0.4s ease;
      }
    }

    &__card {
      &.active {
        ~ .how-it-works__card:nth-child(2) {
          & ~ .how-it-works__cards-container::after {
            top: 0;
            opacity: 1;
          }
        }

        ~ .how-it-works__card:nth-child(3) {
          & ~ .how-it-works__cards-container::after {
            top: calc(3.625rem + 2rem);
            opacity: 1;
          }
        }

        ~ .how-it-works__card:nth-child(4) {
          & ~ .how-it-works__cards-container::after {
            top: calc((3.625rem + 2rem) * 2);
            opacity: 1;
          }
        }

        & ~ .how-it-works__cards-container::after {
          opacity: 1;
        }

        &:nth-child(1) ~ .how-it-works__cards-container::after {
          top: 0;
        }

        &:nth-child(2) ~ .how-it-works__cards-container::after {
          top: calc(3.625rem + 2rem);
        }

        &:nth-child(3) ~ .how-it-works__cards-container::after {
          top: calc((3.625rem + 2rem) * 2);
        }

        &:nth-child(4) ~ .how-it-works__cards-container::after {
          top: calc((3.625rem + 2rem) * 3);
        }
      }
    }
  }
}

/* Mobile view (breakpoint-sm) */
@media screen and (max-width: $breakpoint-sm) {
  .campus-partners-how-it-works {
    padding: 3.5rem 0;
  }

  .campus-partners {
    padding: 2rem 0;
    height: auto;

    &__content {
      gap: 1.25rem;
      margin: 0 -1.5rem;
      width: calc(100% + 3rem);
    }

    .marquee {
      animation: marquee 50s linear infinite;

      &-reverse {
        animation: marquee-reverse 60s linear infinite;
      }
    }

    .marquee-container {
      padding: 0.5rem 0;
    }

    .marquee-item {
      padding: 0 1.25rem;
      height: 60px;

      img {
        max-height: 40px;
        width: auto;
      }
    }
  }

  .how-it-works {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      align-self: stretch;
      gap: 2rem;
      padding: 3.5rem 1.5rem;
    }

    &__content {
      height: auto;
      gap: 0.75rem;
      padding-bottom: unset;
      &::before,
      &::after {
        display: none;
      }

      .how-it-works__description {
        @include b-l-r;
        padding-bottom: 0;
      }
    }

    &__header {
      text-align: center;
      width: 100%;
      display: flex;
    }

    &__lottie {
      order: 2;
      width: 345px;
      max-height: 248px;
      overflow: hidden;
    }

    &__cards-container {
      order: 3;
      margin-top: 2rem;
      width: 100%;
      position: relative;
      --mobile-indicator-top: 0rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2px;
        background: #d9d9d9;
        width: 4px;
        height: 87%;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: var(--mobile-indicator-top);
        border-radius: 2px;
        background: linear-gradient(180deg, #b247ff 0%, #2218e1 152.78%);
        width: 4px;
        height: 80px;
        z-index: 2;
        opacity: 1;
        transition: top 0.4s ease;
      }
    }

    &__card {
      &.active {
        ~ .how-it-works__card:nth-child(2) {
          & ~ .how-it-works__cards-container::after {
            top: 0;
            opacity: 1;
          }
        }

        ~ .how-it-works__card:nth-child(3) {
          & ~ .how-it-works__cards-container::after {
            top: calc(3.525rem + 2rem);
            opacity: 1;
          }
        }

        ~ .how-it-works__card:nth-child(4) {
          & ~ .how-it-works__cards-container::after {
            top: calc((3.525rem + 2rem) * 2);
            opacity: 1;
          }
        }

        & ~ .how-it-works__cards-container::after {
          opacity: 1;
        }

        &:nth-child(1) ~ .how-it-works__cards-container::after {
          top: 0;
        }

        &:nth-child(2) ~ .how-it-works__cards-container::after {
          top: calc(3.625rem + 2rem);
        }

        &:nth-child(3) ~ .how-it-works__cards-container::after {
          top: calc((3.625rem + 2rem) * 2);
        }

        &:nth-child(4) ~ .how-it-works__cards-container::after {
          top: calc((3.625rem + 2rem) * 3);
        }
      }
    }
  }
}
