.opportunities-and-benefits-wrapper {
    background-image: url("/assets/opportunities-benefits.svg");
    background-repeat: no-repeat;
}

.opportunities-wrapper {
    @include section-wrapper;
    padding: 100px 80px 80px 80px;

    .opportunities-header {
        @include section-header;
    }

    .opportunities-text {
        @include section-text;
    }

    .opportunities-bar {
        @include flex-center;
        gap: 0.75rem;
        align-self: stretch;
    }
}

.benefits-wrapper {
    @include section-wrapper;
    padding: 5rem;
    gap: 1.5rem;

    .benefits-header {
        @include section-header;
    }

    .benefits-text {
        @include section-text;
    }

    .benefits-cards-wrapper {
        display: flex;
        height: auto;
        min-height: 635px;
        align-items: flex-start;
        gap: $standard-gap;
        align-self: stretch;
        width: 100%;

        .benefits-lnd-events {
            @include flex-col(flex-start, center);
            width: 30%;
            gap: $standard-gap;
            align-self: stretch;
        }

        .benefits-others {
            @include flex-col(center);
            width: 70%;
            gap: $standard-gap;
            align-self: stretch;

            .benefits-payments-flexible {
                display: flex;
                height: 265px;
                justify-content: center;
                align-items: flex-start;
                gap: $standard-gap;
                align-self: stretch;
                width: 100%;
            }

            .benefits-opportunities-community {
                display: flex;
                align-items: flex-start;
                gap: $standard-gap;
                flex: 1 0 0;
                align-self: stretch;
                width: 100%;
            }
        }
    }
}