.filter-icon-button {
    @include flex-center;
    padding: 1rem 1.5rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: $white;
    cursor: pointer;

    &.selected {
        background: $gradient-primary;

        .filter-icon-text {
            color: $white-text;
        }
    }

    .filter-icon-text {
        @include b-l;
        color: $dark-text;
    }
}

.opportunities-card-container {
    position: relative;
    width: 416px;
    height: 250px;
    overflow: hidden;
    border-radius: $card-border-radius;
}

.opportunities-card {
    @include flex-center;
    @include card-base;
    width: 416px;
    height: 250px;
    backdrop-filter: blur(30px);

    .opportunities-card-zone {
        @include flex-col(flex-start);
        gap: 2rem;
    }

    .opportunities-card-details {
        @include flex-col(flex-start, flex-start);
        width: 332px;
        gap: 0.5rem;
    }

    .opportunities-card-header {
        @include h5;
    }

    .opportunities-card-description {
        @include b-s;
        line-height: 130%;
    }

    .opportunities-card-rate {
        @include b-l;
        @include gradient-text;
    }

    .opportunities-card-button {
        @include flex-center;
        border-radius: 135px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        padding: 0.938rem 1.5rem;
        gap: 1rem;

        &-text {
            color: $dark-text;
            font-family: $font-family-base;
            font-size: $font-size-base;
            font-weight: 500;
            letter-spacing: -0.48px;
        }
    }
}

.opportunities-card-image {
    @include flex-col();
    width: 227px;
    height: 237px;
    flex-shrink: 0;
    transform: translate(14.05rem, -12.45rem);
}

.opportunities-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.get-started-button {
    @include flex-center;
    @include b-m;
    height: 54px;
    padding: 16px 20px 16px 24px;
    gap: 0.75rem;
    background-color: $button-bg-color;
    color: $button-text-color;
    border: 1px solid rgba(133, 133, 133, 0.30);
    border-radius: 1.25rem;
    cursor: pointer;
}