.opportunities-and-benefits-wrapper  {
    background-image: url("/assets/opportunities-benefits.svg");
    background-repeat: no-repeat;
}

.opportunities-wrapper {
    display: flex;
    padding: 100px 80px 80px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    align-self: stretch;

    .opportunities-header{
        @include h2;
        color: $dark-text;
    }

    .opportunities-text{
        @include b-l;
        line-height: 140%;
    }

    .opportunities-bar{
        gap: 0.75rem;
        @include flex-center;
        align-self: stretch;
    }
}

.benifits-wrapper{
    @include flex-col;
    gap: 1.5rem;
    align-self: stretch;

    .benifits-header{
        @include h2;
        color: $dark-text;
    }

   .benifits-text{
        @include b-l;
        gap: 0.75rem;
    }
}