.stories {
  @include flex-col();
  padding: 3.5rem 4rem;
  gap: 1.44rem;
  background: $grey;
}

.stories-section {
  position: relative;

  &__button {
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
  }

  &__blur {
    position: absolute;
    height: 210px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(1.35rem);
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
  }

  &__blur-gradient {
    position: absolute;
    height: 278px;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(235, 235, 235, 0) 0%,
      rgba(235, 235, 235, 0.4) 80%,
      rgba(235, 235, 235, 0.8) 90%,
      rgba(235, 235, 235, 1) 100%
    );
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.stories__header-container {
  @include flex-col();
  gap: 0.75rem;
  align-self: stretch;
}

.stories__title {
  @include h2;
}

.stories__description {
  @include b-m;
  padding-bottom: 5rem;

  &-highlight {
    @include b-m;
    background: linear-gradient(275deg, #3c18b9 51.97%, #ae1dec 65.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.stories__grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 900px;
  width: 100%;
  position: relative;

  &-left {
    height: 100%;
    width: 51.97%;

    &-top {
      width: 100%;
      height: 33%;

      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1rem;
      align-self: stretch;
      padding-bottom: 1rem;
    }

    &-bottom {
      width: 100%;
      height: 72%;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;
      overflow: hidden;

      &-images {
        width: 37.23%;
        @include flex-column;
        align-items: flex-end;
        height: 100%;
        gap: 1rem;

        img {
          &:first-child {
            width: 90%;
            object-fit: cover;
            overflow: hidden;
          }

          &:last-child {
            width: 80%;
            object-fit: cover;
            border-radius: 0.75rem;
            overflow: hidden;
          }
        }
      }

      &-cards {
        width: 61.77%;
        display: grid;
        grid-template-rows: 1.55fr 1fr;
        gap: 1rem;

        > *:last-child {
          overflow: hidden;
        }
      }
    }
  }

  &-right {
    height: 100%;
    width: 46.76%;

    &-space {
      height: 10%;
      width: 100%;
    }

    &-top {
      height: 31.8%;
      width: 100%;
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      align-self: stretch;
      padding-bottom: 1rem;

      > *:first-child {
        height: 110%;
      }
    }

    &-middle {
      height: 38%;
      display: flex;
      gap: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      align-items: stretch;

      > *:first-child {
        width: 40%;
      }

      > *:last-child {
        width: 55%;
      }
    }

    &-bottom {
      height: 23.2%;
      width: 100%;
    }
  }

  &-image {
    height: 100%;

    &--hover {
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px) scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.stories-card {
  width: auto;
  height: auto;
  padding: 16px;
  background: var(--White, white);
  border-radius: 12px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  &__content {
    align-self: stretch;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__testimonial {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &-text {
      @include b-m;
      word-wrap: break-word;
      margin: 0;
      padding: 0;
    }

    &-highlight {
      color: #4434ef;
      font-size: 16px;
      font-family: 'DM Sans';
      font-weight: 500;
      line-height: 20.8px;
      word-wrap: break-word;
    }

    &-additional {
      color: rgba(0, 0, 0, 0.6);
      font-size: 16px;
      font-family: 'DM Sans';
      font-weight: 500;
      line-height: 20.8px;
      word-wrap: break-word;
    }
  }

  &__author {
    align-self: stretch;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;

    &-info {
      flex: 1 1 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 3px;
    }

    &-name {
      align-self: stretch;
      color: var(--Black, black);
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
      word-wrap: break-word;
      letter-spacing: -0.0625rem;
    }

    &-role {
      align-self: stretch;
      color: var(--Black, black);
      font-size: 14px;
      font-weight: 400;
      line-height: 18.9px;
      word-wrap: break-word;
    }

    &-organization {
      align-self: stretch;
      color: var(--Black, black);
      font-size: 14px;
      font-family: 'DM Sans';
      font-weight: 500;
      line-height: 18.9px;
      word-wrap: break-word;
    }

    &-image {
      width: 53px;
      height: 53px;
      border-radius: 49px;
      object-fit: cover;
    }
  }
}

.stories__flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px) scale(1.02);

    .stories__flip-card-inner {
      transform: rotateY(180deg);
    }
  }
}

.stories__flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.stories__flip-card-front,
.stories__flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.stories__flip-card-front {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories__flip-card-front img {
  max-width: 100%;
}

.stories__flip-card-back {
  background-color: #f8f8f8;
  color: #333;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 17px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stories__grid-left-top .stories__flip-card {
  width: 30%;
}

.stories__grid-left-top .stories__flip-card-back {
  width: 100%;
  max-width: 100%;
}

.image-backside-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0;
  box-sizing: border-box;
}

.image-backside-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-backside-content {
  @include b-s;
  align-self: stretch;
  color: #222;
}

.stories__linkedin-link {
  display: inline-block;
  text-decoration: none;
}

@media screen and (max-width: $breakpoint-lg) {
  .stories {
    padding: 3.5rem 4rem;
  }

  .stories__header-container {
    .stories__title {
      font-size: 1.75rem;
    }

    .stories__description {
      padding-bottom: 3rem;
    }
  }

  .stories__grid {
    height: 500px; /* Scale down the overall height */
    gap: 0.5rem; /* Added 0.5rem gap between grid components */

    /* Scale down the images and maintain layout */
    .stories__grid-left,
    .stories__grid-right {
      img {
        object-fit: cover;
      }
    }

    /* Add gap between grid sections */
    &-left {
      &-top {
        gap: 0.5rem;
        padding-bottom: 0.5rem;
      }

      &-bottom {
        gap: 0.5rem;

        &-images {
          gap: 0.5rem;
        }

        &-cards {
          gap: 0.5rem;
          @include flex-col;

          > *:first-child {
            height: 80%;
          }

          > *:last-child {
            overflow: hidden;
          }
        }
      }
    }

    &-right {
      &-top {
        gap: 0.5rem;
        padding-bottom: 0.5rem;
      }

      &-middle {
        gap: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }

    .stories-card {
      padding: 12px;
      gap: 20px;

      &__content {
        .stories-card__testimonial {
          &-text,
          &-highlight,
          &-additional {
            font-size: 8px;
            line-height: 130%;
          }
        }

        .stories-card__author {
          margin-top: 12px;

          &-info {
            .stories-card__author-name {
              font-size: 10.251px;
              font-weight: 500;
              line-height: 130%; /* 13.327px */
              letter-spacing: -0.513px;
            }

            .stories-card__author-role,
            .stories-card__author-organization {
              font-size: 7.176px;
              font-weight: 400;
              line-height: 135%; /* 9.687px */
            }
          }

          &-image {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }

  /* Hide mobile-specific elements in tablet view */
  .stories__mobile {
    display: none;
  }

  /* Adjust blur elements for tablet */
  .stories-section__blur {
    height: 180px;
  }

  .stories-section__blur-gradient {
    height: 208px;
  }

  .stories-section__button {
    bottom: 60px;
  }

  .stories__flip-card {
    width: 100% !important; /* Override any specific width settings */

    &-front,
    &-back {
      width: 100%;
    }

    &-front img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .stories__grid-left-top .stories__flip-card {
    width: 45% !important;
  }

  .stories__grid-right-middle .stories__flip-card {
    width: 41% !important;
    flex-shrink: 0;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .stories {
    display: flex;
    padding: 56px 24px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;

    .stories__header-container {
      @include flex-column;
      gap: 0.5rem;
      align-self: stretch;
      align-items: center;
      margin-bottom: unset;
    }

    .stories__title {
      @include h2;
    }

    .stories__description {
      @include b-m;
      padding-bottom: unset;
    }

    .stories__mobile {
      @include flex-col(space-between, flex-start);
      height: 1000px;
      gap: 1rem;
      width: 100%;
    }
  }
}
